<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMHiknVp_3BQ5NMvCl1gjVSrYiX8_ewqA</string>
	<key>GCM_SENDER_ID</key>
	<string>927185860308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wardrobe-inc.YourWardrobe</string>
	<key>PROJECT_ID</key>
	<string>yourwardrobe-f8dcc</string>
	<key>STORAGE_BUCKET</key>
	<string>yourwardrobe-f8dcc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927185860308:ios:53877cf7cc92faa29b2d41</string>
</dict>
</plist>